











dialog {
    height: auto;
    width: auto;
    display: grid;
    background: var(--surface-2);
    color: var(--text-1);
    margin: auto;
    padding: 20px;
    position: fixed;
    inset: 0;
    z-index: var(--layer-important);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-6);
    background-image: var(--gradient-23);
    max-inline-size: min(90vw, var(--size-content-3));
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    overflow: hidden;
}

dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
  }

@media (prefers-color-scheme: dark) {
    dialog {
      border-block-start: var(--border-size-1) solid var(--surface-3);
    }
  }
